section {
  margin: 20px 0 20px 0;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  left: 100px;
  border: 1px solid gray;
  padding: 2px;
}

.info-text {
  font-size: 1.1em;
}

.full-width {
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

/* Logo & Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-container {
  display: inline-flex;
  flex-direction: column;
}

#logo-text {
  padding-top: 15px;
  padding-bottom: 5px;
}

#mm-logo {
  width: 100%;
}

/* Encrypt/Decrypt */

#encryptMessageInput {
  margin-bottom: 1rem;
}

#shopCart {
  display: inline-block;
  background-color: #7f7f7f;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: visible;
  z-index: 1000;
}
#shopCart::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#shopCart:hover {
  cursor: pointer;
  background-color: #333;
}
#shopCart:active {
  background-color: #555;
}
